<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Let's Play Boggle!</h1>
    <p class="gameScore">Your score is:</p>
    <p class="highScore">Your high score is:</p>
    <p class="avgScore">Your average score is:</p>
    <p class="bigWords">Total words with 5+ letters:</p>
    <p class="longestWord">Your longest word is: </p>
    <p class="gamesPlayed">Games Played:</p>

    <button id="return_home">Start new game</button>

    
    
    <script type="text/javascript">
        document.getElementById("return_home").onclick = function () {
            location.href = "/";
        };
    </script>

<script
src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>
    <script src="../static/app2.js"></script>
</body>
</html>

    